#splash-text {
  margin: auto;
  margin-left: 15px;
}

#logo {
  height: 60px;
  margin: auto;
  margin-right: 0px;
  margin-left: 10px;
}

.header {
  background-color: rgba(183,185,230,0.85);
  display: flex;
}

.header-nav {
  display: flex;
  pointer-events: auto;
  margin: auto;
  margin-right: 10px;
}

.header-nav a {
  padding: 20px;
}