:root {
  --transform-speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  pointer-events: none; /* Fixes the UI blocking interactions with the mapbox */
  overflow-y: hidden;
}

h1 {
  font-family: Arial;
  user-select: none;
}

h3 {
  font-family: Arial;
  user-select: none;
}

p {
  font-family: Arial;
  user-select: none;
}

label {
  font-family: Arial;
  user-select: none;
}